{% extends 'layouts/base.html'%} {% block title %}Hope Zone | Home{% endblock%}
{% from "components/concert_card.html" import concertCard %}
{% block body %}
<div class="flex flex-col flex-grow px-32 pt-6 h-full w-full">
  <div class="flex flex-row h-[60px] w-full items-center space-x-4">
    <div>

    </div>
    <div class="flex-grow"></div>
    <a href="/concerts/book">
      <div class="flex h-[50px] px-5 bg-red-400 w-full rounded-md items-center justify-center">
        <p class="text-white font-bold">Create Concert</p>
      </div>
    </a>
  </div>
  <div class="flex flex-grow  overflow-y-scroll scrollbar-hide">
    <div class="grid grid-cols-4 gap-4 w-full h-96 pb-2">
      {% for concert in concerts %}
        {{concertCard(concert)}}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
