{% extends 'layouts/base.html'%} {% block title %}Hope Zone | Login{% endblock%}
{% from "components/concert_card.html" import concertCard %} {% block body %}
<div class="flex flex-row w-full h-full font-bold px-44 py-6 text-white">
  <div class="flex w-3/6 flex-col space-y-3">
    <div class="flex flex-row w-full justify-start">
      <img
        class="rounded-lg w-full bg-contain aspect-video"
        src="{{host.image_id}}"
        alt="host profile"
      />
    </div>
    <div class="flex flex-1 flex-col items-start">
      <p class="text-3xl">{{host.name}}</p>
      <p class="flex text-s font-bold overflow-y-scroll scrollbar-hide">
        been the industry's standard dummy text ever since the 1500s, when an
        unknown printer took a galley of type and scrambled it to make a type
        specimen book. It has survived not only five centuries, but also the
        leap into electronic typesetting, . . . Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown
        printer took a galley
      </p>
    </div>
    <div class="flex flex-shrink flex-1 flex-col justify-end space-y-2">
      <div class="flex w-full h-1 rounded-full bg-white"></div>
      <p>
        Email:
        <a href="mailto:{{host.email}}" class="text-yellow-200"
          >{{host.email}}</a
        >
      </p>
      <p>
        Phone:
        <a href="tel:{{host.phone}}" class="text-yellow-200">{{host.phone}}</a>
      </p>
      <p>
        Facebook:
        <a href="{{host.facebook_link}}" class="text-yellow-200"
          >{{host.facebook_link}}</a
        >
      </p>
      <p>
        Address:
        <a
          href="http://maps.google.com/?q={{host.address}}"
          class="text-yellow-200"
          >{{host.address}}</a
        >
      </p>
      <div class="flex w-full h-1 rounded-full bg-white"></div>
    </div>
    <div class="flex flex-row space-x-5 justify-start">
      <button
        class="flex text-white items-center justify-center w-24 h-20 bg-yellow-400 rounded-lg hover:bg-yellow-500 hover:shadow-md"
      >
        Update
      </button>
      <button
        type="button"
        id="delete-btn"
        data-id="{{ host.id }}"
        class="flex text-white items-center justify-center w-24 h-20 bg-yellow-400 rounded-lg hover:bg-yellow-500 hover:shadow-md"
      >
        Delete
      </button>
      <button
        class="flex text-white items-center justify-center w-24 h-20 bg-yellow-400 rounded-lg hover:bg-yellow-500 hover:shadow-md"
      >
        Book
      </button>
    </div>
  </div>
  <div class="w-4/6 pl-12 text-white h-full overflow-y-scroll scrollbar-hide">
    <div class="grid grid-cols-2 gap-4 max-h-[400px]">
      {% for concert in concerts %} {{concertCard(concert)}} {% endfor %}
    </div>
  </div>
</div>
<script>
  const deleteBtn = document.getElementById("delete-btn");
  deleteBtn.onclick = function (e) {
    const host_id = e.target.dataset["id"];
    fetch("/host/" + host_id, {
      method: "DELETE",
    }).then((response) => {
      if (response.redirected) {
        window.location.href = response.url;
      }
    });
  };
</script>
{% endblock %}
